.button {
   height: 2.5rem; 
   line-height: 2.5rem;
   padding-inline: 0.75rem;
   border-radius: 0.375rem;
   display: inline-flex;
   min-width: 2.5rem;
   border-color: transparent;
   font-size: 1rem;
   color: var(--background);
   background-color: var(--foreground);
   font-weight: 500;
   cursor: pointer;
}